h2{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
p{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.fruitbox{
    height: 200px;
    width: 150px;
    background-color: rgb(244, 237, 237);
    border: none;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.vegetablebox{
    height: 200px;
    width: 150px;
    background-color: rgb(244, 237, 237);
    border: none;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}