body{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    font-weight: 700;
    text-align: center;
    margin-top: 200px;
    
}
label{
    font-size: 100px;
}
.btnContainer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btnContainer button{
    height: 50px;
    padding: 15px;
    border: none;
    background-color: violet;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.btnContainer button:hover{
    background-color: pink;
}
.btnContainer button:active{
    background-color: purple;
}