
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: purple;
}
p{
    color: purple;
    font-size: 30px;
}
.box1{
    margin-top: 100px;
    max-width: 900px;
    border-color: gold;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    background-color: transparent;
    padding: 30px;
}
.container{
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.header-container h1{
    margin: 30px;
}
        